# SvelteKit
/node_modules
/.svelte-kit
/.vercel
/.netlify
/build
/.cache
/.env
/.env.*.local
/.toml
/.dev.vars
/.wrangler

# Test outputs and coverage
/coverage
/test-results
/playwright-report
/.nyc_output
/tests

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db.dev.vars
